# Páginas para programar python

1. www.mybinder.org
2. www.kaggle.com
3. www.jupyter.org/try
4. `github jobish` https://mybinder.org/v2/gh/jobish03/jobish03-Visualizacion_de_datos_para_la_toma_de_decisiones/main?filepath=welcome_binder.ipynb

Los paquetes hay que incluir en el archivo `requirements.txt`

In [1]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
     |████████████████████████████████| 292 kB 3.8 MB/s
Requirement already satisfied: matplotlib>=2.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (3.2.1)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.18.5)
Requirement already satisfied: pandas>=0.23 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.0.4)
Requirement already satisfied: scipy>=1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.4.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2020.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%ls

 00_00_primer_pasos.ipynb               Clase5.ipynb
 01_01_data_types.ipynb                 clase7.ipynb
 01_02_read_iloc_unique_groupby.ipynb  'Clase8 (1).ipynb'
 02_00_data_wrangling.ipynb            'Clase 9 (1).ipynb'
 02_01_null_display.ipynb              'Clase9 (1).ipynb'
 02_02_basic_math.ipynb                 datasets/
 Act5.ipynb                             db.csv
'ACT6&10.ipynb'                        'Ironman World Championship.csv'
 ACT6.ipynb                             ramen-ratings.csv
 ACT6y10.ipynb                          README.md
 athletes_events.csv                    reg_data.csv
 clase2.ipynb                           requirements.txt
 clase3.ipynb                          'Student performance.xlsx'
'Clase4 (2).ipynb'                      StudentsPerformance.csv

In [7]:
df = pd.read_csv('athletes_events.csv')
df

                                                                                                                                                                        Athlete’s events
ID Name                                    Sex Age Height Weight Team           Games       Year Season City      Sport      Event                                                 Medal
1  A Dijiang                               M   24  180    80     China          1992 Summer 1992 Summer Barcelona Basketball Basketball Men's Basketball                             NaN
2  A Lamusi                                M   23  170    60     China          2012 Summer 2012 Summer London    Judo       Judo Men's Extra-Lightweight                            NaN
3  Gunnar Nielsen Aaby                     M   24  NaN    NaN    Denmark        1920 Summer 1920 Summer Antwerpen Football   Football Men's Football                                 NaN
4  Edgar Lindenau Aabye                    M   34  NaN    NaN    Denmark/Sweden 1900 Summer 1900 Summer Paris     Tug-Of-War Tug-Of-War Men's Tug-Of-War                            Gold
...                                                                                                                                                                                  ...
67 Mariya Vasilyevna Abakumova (-Tarabina) F   26  179    80     Russia         2012 Summer 2012 Summer London    Athletics  Athletics Women's Javelin Throw                         NaN
68 Pablo Martn Abal                        M   23  178    76     Argentina      2000 Summer 2000 Summer Sydney    Swimming   Swimming Men's 100 metres Butterfly                     NaN
                                                                                                                             Swimming Men's 4 x 100 metres Medley Relay              NaN
69 Tamara Abalde Daz                       F   19  185    72     Spain          2008 Summer 2008 Summer Beijing   Basketball Basketball Women's Basketball                           NaN
70 Jess Iory Aball Martnez                 M   26  167    65     Cuba           2000 Summer 2000 Summer Sydney    Diving     Diving Men's Platform                                   NaN

[170 rows x 1 columns]

## Descripción de la base de datos
- La base de datos explica los eventos en los que ha participado deportistas, durante los juegos olímpicos, se ven los datos de los jugadores, su nombre, edad, peso, nacionalidad, el evento, si gano medalla o no, entre otros más.

## Descripción de Variables
- Variables numericas:
    * Age:
    * Height:
    * Weight: 
    * Year:
- Variables Categoricas:
    * Name:
    * Sex:
    * Team:
    * Games:
    * Season:
    * City:
    * Sport:
    * Event:
    * Medal:

In [5]:
df.columns

Index(['Athlete’s events'], dtype='object')