# PÃ¡ginas para programar python

1. www.mybinder.org
2. www.kaggle.com
3. www.jupyter.org/try
4. `github jobish` https://mybinder.org/v2/gh/jobish03/jobish03-Visualizacion_de_datos_para_la_toma_de_decisiones/main?filepath=welcome_binder.ipynb

Los paquetes hay que incluir en el archivo `requirements.txt`

## Lectura de datos 
## Clase 2

In [1]:
import pandas as pd
import numpy as np

In [2]:
%ls

00_00_binder.ipynb                    02_01_null_display.ipynb
00_00_primer_pasos.ipynb              02_02_basic_math.ipynb
01_01_data_types.ipynb                datasets/
01_02_read_iloc_unique_groupby.ipynb  README.md
02_00_data_wrangling.ipynb            requirements.txt

In [3]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          mic.xlsx

In [19]:
path = 'datasets/Cartwheeldata.csv'
df = pd.read_csv(path)
df.head(2)

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8

In [20]:
x = df. columns
x

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [21]:
type(x)

pandas.core.indexes.base.Index

In [23]:
y = list(x)
y
type(y)

list

In [24]:
y.sort()
y

['Age',
 'CWDistance',
 'Complete',
 'CompleteGroup',
 'Gender',
 'GenderGroup',
 'Glasses',
 'GlassesGroup',
 'Height',
 'ID',
 'Score',
 'Wingspan']

## uso para leer nombres de columnas

In [26]:
for iterador in df.columns:
    print(iterador)

ID
Age
Gender
GenderGroup
Glasses
GlassesGroup
Height
Wingspan
CWDistance
Complete
CompleteGroup
Score

In [27]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [28]:
df['Age'].head(2)

0    56
1    26
Name: Age, dtype: int64

In [29]:
type(df['Age'])

pandas.core.series.Series

In [31]:
df[['Age','Gender','GenderGroup']].head(2)

   Age Gender  GenderGroup
0   56      F            1
1   26      F            1

In [32]:
type(df[['Age','Gender', 'GenderGroup']])

pandas.core.frame.DataFrame

In [34]:
df[['Age']].head(2)

   Age
0   56
1   26

In [35]:
type(df[['Age']])

pandas.core.frame.DataFrame

In [36]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

## loc y iloc

In [39]:
df.loc[2:7, 'Age': 'Height']

   Age Gender  GenderGroup Glasses  GlassesGroup  Height
2   33      F            1       Y             1    66.0
3   39      F            1       N             0    64.0
4   27      M            2       N             0    73.0
5   24      M            2       N             0    75.0
6   28      M            2       N             0    75.0
7   22      F            1       N             0    65.0

In [46]:
df.iloc[2:10,3:6]

   GenderGroup Glasses  GlassesGroup
2            1       Y             1
3            1       N             0
4            2       N             0
5            2       N             0
6            2       N             0
7            1       N             0
8            2       Y             1
9            1       Y             1

In [45]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [47]:
#df[['Complete', 'CompleteGroup', 'Score']]
df.iloc[:,-3:]

   Complete  CompleteGroup  Score
0         Y              1      7
1         Y              1      8
2         Y              1      7
3         Y              1     10
4         N              0      4
5         N              0      3
6         Y              1     10
7         Y              1      9
8         N              0      5
9         Y              1      8
10        Y              1      6
11        Y              1     10
12        Y              1      6
13        Y              1      4
14        Y              1      9
15        Y              1      6
16        N              0     10
17        Y              1      5
18        Y              1      3
19        Y              1      8
20        N              0      2
21        Y              1      8
22        Y              1      4
23        Y              1      5
24        N              0      3

In [48]:
df.Gender.unique()

array(['F', 'M'], dtype=object)

In [50]:
df.groupbaby(['Gender']).size()

AttributeError: 'DataFrame' object has no attribute 'groupbaby'